<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilos.css">
    <title>Juegos</title>
</head>
    <!-- header -->
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <img class="Logo" src="imagenes/Logo.png" alt="">
    
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <h1 class="Ttitulo">Gamering</h1>
                </ul>

    
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="Imagenes/Usuario.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    </ul>
                </div>
            </div>
        </div>
    </header>
<body>
<!-- PRUEBA -->
<div class="row g-0 py-5 row-cols-1 row-cols-lg-3">
    <!-- Primera Columna - Imagen Grande -->
    <div class="col">
      <img class="IconoProducto" src="Imagenes/Cuphead.png" alt="Imagen Grande" class="img-fluid">
    </div>
  
    <!-- Segunda Columna - Título y Precio -->
    <div class="col">
        <h2 class="h1">Producto 1</h2>
        <p class="display-4 text-muted">Precio: $99.99</p>
    </div>
  
    <!-- Tercera Columna - Descripción y Botón Grande -->
    <div class="col">
      <p class="text-muted">Cuphead es un juego de acción clásico de correr y disparar centrado especialmente en batallas con jefes. Inspirado en los dibujos animados de la década de 1930, 
        los aspectos visuales y sonoros se han creado meticulosamente con las mismas técnicas de la época (es decir, animación tradicional 
        en transparencias dibujadas a mano, fondos de acuarela y grabaciones de jazz originales).
        ¡Juega como Cuphead o Mugman (en los modos de un solo jugador o cooperativo local) y atraviesa mundos pintorescos, adquiere nuevas armas,
         aprende poderosos supermovimientos y descubre secretos ocultos mientras intentas saldar tu deuda con el diablo!</p>
         <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-dark text-white btn-lg">Ir a la página</a>
          </div>
    </div>
</div>

  

<!-- Pie -->
    <footer class="Pie">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5> </h5>
                <div class="Logo2">
                    <img src="Imagenes/Logo.png" alt="">
                </div>
                

            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5> </h5>
                <h5> </h5>
                <h5>Terminos y condiciones</h5>
                <h5>Politica de Privacidad</h5>

            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5> </h5>
                <h5>Cookies</h5>
                <h5>Preguntas Frecuentes</h5>
                <h5>Contacto</h5>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Disfruta de los beneficios de ser Premium</h5>
                    <p>Suscríbete mensualmente para obtener pequeñas ventajas</p>
                    <div class="d-flex flex-column flex-sm-row h-25 w-100  gap-2">
                        <button class="btn btn-secondary" type="button">Hazte Premium</button>

                    </div>
                </form>
            </div>
        </div>

        <div class="redes">

        <div class="d-flex flex-column flex-sm-row justify-content-betweenjustify-content-between my-4 border-top">
            <p>© Hectano.</p>

            <ul class="list-unstyled d-flex">
                <li class="Twitter" width="20" height="24"><img src="imagenes/Twitter.png" alt="" width="50px"
                        height="50px"></li>
                <li class="Facebook" width="20" height="24"><img src="imagenes/Facebook.png" alt="" width="50px"
                        height="50px"></li>
                <li class="Instagram" width="20" height="24"><img src="imagenes/Instragram.png" alt="" width="50px"
                        height="50px"></li>

            </ul>
        </div>
    </div>
    </footer>
</body>
</html>
